@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2.5s infinite;
}
.animate-bounce-slow.delay-200 {
  animation-delay: 0.2s;
}
.animate-bounce-slow.delay-400 {
  animation-delay: 0.4s;
}
